body {
    text-align: center;
    background-color: #000;
    color: #fff;
}

h3 {
    text-transform: uppercase;
    color: brown;
    font-size: 20px;
    margin-bottom: 0;
}

p.version {
    margin-top: 0;
    font-size: 13px;
    font-family: monospace;
}